@model Monetrix.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderAccount.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverAccount.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.FullName)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Reverse" method="post" asp-route-id="@Model.TransactionId">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to reverse this transaction?');">
            Reverse Transaction
        </button>
    </form>
    <a asp-action="Details" asp-controller="Account" asp-route-id="@Model?.SenderAccountId">Back to List</a>
</div>
