@model Monetrix.Models.Customer

@{
    ViewData["Title"] = "Delete Customer";
}

<div class="container mt-4">
    <div class="bank-card p-4">
        <h3 class="text-danger mb-3">Are you sure you want to delete this customer?</h3>

        <hr />

        <dl class="row">
            <dt class="col-sm-3">Image</dt>
            <dd class="col-sm-9">
                <img src="@Url.Content(Model.Image ?? "/Images/default.jpg")" alt="Image" width="200" />
            </dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FullName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FullName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phone)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Age)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Age)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.NationalId)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.NationalId)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Gender)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Gender)</dd>
        </dl>

        @if (ViewBag.HasActiveAccounts == true || ViewBag.HasIncompleteLoans == true)
        {
            <div class="alert alert-warning">
                <strong>Warning:</strong> You cannot delete this customer because:
                <ul>
                    @if (ViewBag.HasActiveAccounts == true)
                    {
                        <li>The customer has active bank accounts.</li>
                    }
                    @if (ViewBag.HasIncompleteLoans == true)
                    {
                        <li>The customer has incomplete loans.</li>
                    }
                </ul>
                Please close all accounts and finish all loans before deleting.
            </div>
        }


        <form asp-action="Delete" method="post" class="mt-4 d-flex justify-content-end gap-2">
            <input type="hidden" asp-for="CustomerId" />
            @if (ViewBag.HasActiveAccounts != true && ViewBag.HasIncompleteLoans != true)
            {
                <button type="submit" class="btn btn-danger">Delete</button>
            }
            else
            {
                <button type="submit" class="btn btn-danger" disabled>Delete</button>
            }
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
