@model IEnumerable<Monetrix.Models.Customer>

    @if (Model != null && Model.Any())
{
        <table>
        <thead>
            <tr>
                <th><label asp-for="@Model.First().FullName"></label></th>
                <th><label asp-for="@Model.First().NationalId"></label></th>
                <th><label asp-for="@Model.First().Age"></label></th>
                <th><label asp-for="@Model.First().Email"></label></th>
                <th><label asp-for="@Model.First().Address"></label></th>
                <th><label asp-for="@Model.First().Phone"></label></th>
                <th><label asp-for="@Model.First().Gender"></label></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.NationalId</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Gender</td>
                    @if (User.IsInRole("Admin") || User.IsInRole("CustomerService"))
                    {
                        <td>
                            <a asp-action="Reactivate" asp-route-id="@item.CustomerId" title="Reactivate">
                                <img src="~/Icons/return.png" alt="Reactivate" style="width:40px; height:40px;">
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
        <p class="gold-outline-text" style="font-size: 2rem; font-weight: bold; color: white;">No archived customers found</p>
</div>

}

<p class="btn-container">
    <a asp-action="Index" class="btn btn-warning mt-3">Back</a>
</p>