<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Monetrix</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Monetrix.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-wrapper d-flex flex-column" style="min-height: 100vh;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Monetrix</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item home">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item customer">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Customer" ? "active" : "")" asp-controller="Customer" asp-action="Index">Customer</a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item employee">
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "AppUser" ? "active" : "")" asp-controller="AppUser" asp-action="Index">Employee</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("Accountant") || User.IsInRole("Auditor") || User.IsInRole("Teller"))
                        {
                            <li class="nav-item account">
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" ? "active" : "")" asp-controller="Account" asp-action="Index">Account</a>
                            </li>
                            <li class="nav-item transaction">
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Transaction" ? "active" : "")" asp-controller="Transaction" asp-action="Index">Transaction</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("LoanOfficer") || User.IsInRole("Auditor"))
                        {
                            <li class="nav-item loan">
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Loan" ? "active" : "")" asp-controller="Loan" asp-action="Index">Loan</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="d-flex">
                    <ul class="navbar-nav">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item login">
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Auth" ? "active" : "")" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                        }
                        else
                        {
                                <li class="nav-item Profile">
                                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Auth" ? "active" : "")" asp-controller="Auth" asp-action="Profile">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item logout">
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Auth" ? "active" : "")" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; @DateTime.Now.Year - Monetrix Bank - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>